name: Delete Packages

on:
  workflow_dispatch:

jobs:
  delete-packages:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Delete Packages
        uses: actions/delete-package-versions@v5
        with:
          package-name: project-1
          package-type: container
          min-versions-to-keep: 0
